html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

a {
    text-decoration: none;
    color: $text;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font-family: "Quicksand-Regular", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $text;
    line-height: 1.25;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0 15px;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


.breadcrumbs__list {
    text-align: center;
    line-height: 2px;

    &-item {
        display: inline-block;
        position: relative;
        @include f300;
        font-size: 15px;

        &+.breadcrumbs__list-item {
            padding-left: 24px;

            &:before {
                position: absolute;
                content: '/';
                color: #ffffff;
                left: 10px;
            }
        }

        &:last-child {

            a,
            span {
                color: #bfcad7;
            }
        }
    }

    &-link {
        color: #ffffff;
    }
}