@import '_vars';
@import '_global';
@import '_fonts';

// start header 
.header__top {
    background-color: $bg;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header__btn {
    margin-left: auto;
    margin-right: 50px;
}

.header__logo {
    margin-left: 5px;
}

.header__account {
    line-height: 22px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;

    &-info {
        display: flex;
        min-height: 100px;
        padding: 25px;
    }

    &-avatar {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        @include background;
        margin-right: 20px;
    }

    span {
        font-size: 16px;
        @include f600;
    }

    &-total {
        display: flex;
        font-size: 15px;
        color: #2585ed;
    }
}

.header__btn {
    text-align: center;
    width: 140px;

    &-seller {
        border-radius: 25px;
        padding: 10px 15px;
        background: $blue;
        color: #ffffff;
        cursor: pointer;
        font-size: 14px;
        transition: all .5s;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);

    }

    &-seller:hover {
        background: #ffffff;
        color: $color-title;

    }
}

.header__menu {
    display: flex;
    align-items: center;
    height: 80px;
}

.header__list {
    &-item {
        display: inline-block;

        &+li {
            margin-left: 30px;
        }
    }

    &-link {
        font-size: 15px;
        color: $color-title;
        @include f600;
        text-transform: uppercase;
    }
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__bottom-form {
    width: 360px;
    position: relative;

    input {
        display: block;
        width: 100%;
        border: 1px solid #d9dfe5;
        border-radius: 25px;
        height: 44px;
        padding-left: 25px;
        padding-right: 75px;

        &::placeholder {
            color: #90a4ae;
            @include f500;
            font-size: 15px;
        }
    }
}

button[type="submit"] {
    position: absolute;
    width: 70px;
    min-height: 44px;
    border-radius: 25px;
    border: none;
    background-color: $blue;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

// end header
//start search
.search {
    background: linear-gradient(180deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
    @include background;
    height: 725px;
}

.search__inner {
    padding: 160px 0 0;
    color: #ffffff;
    text-align: center;
    position: relative;

    // margin-bottom: 115px;
    &-title {
        font-size: 60px;
        line-height: 70px;
        color: #f3f3f8;
        padding-bottom: 30px;
        filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.2));
    }

    span {
        display: block;
        @include f700;
    }

    &-text {
        font-size: 20px;
        padding-bottom: 70px;
        color: #f3f3f8;
        @include f500;
    }

    &-btn {
        max-width: 190px;
        min-height: 55px;
        background: rgb(0, 48, 222);
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 30px;
        padding: 15px 20px;
        margin-left: 30px;
        margin-bottom: 140px;
        transition: all .5s;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);

    }

    &-btn:hover {
        background: #ffffff;
        color: $blue;

    }
}

.search__inner-box {
    position: relative;
}

.search__inner-box::after,
.search__inner-box::before {
    content: '';
    background: rgba(255, 255, 255, .5);
    border-radius: 6px;
    text-align: center;
    height: 30px;
    display: block;
    position: absolute;
}

.search__inner-box::after {
    min-width: 1080px;
    margin-left: -10px;
    top: -25px;
}

.search__inner-box::before {
    min-width: 1110px;
    margin-left: -25px;
    top: -15px;
}

.search__inner-box {
    background: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
    width: 100%;
    min-height: 135px;
    padding: 40px;
    border-radius: 6px;
    margin-top: 40px;
}

.search__inner-form {
    input {
        min-width: 600px;
        height: 55px;
        border: 1px solid #d9dfe5;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
        padding: 0 27px;
        outline: none;

        &::placeholder {
            color: #676767;
            @include f500;
        }
    }

    select {
        // appearance: none;
        color: $text;
        min-width: 195px;
        height: 55px;
        outline: none;
        border: 1px solid #d9dfe5;
        border-left: none;
        margin-right: 30px;
        padding-left: 20px;
        background-color: transparent;

    }

    input[type="button"] {
        min-width: 222px;
        height: 55px;
        color: #ffffff;
        background: $blue;
        border-radius: 6px;
        cursor: pointer;
    }
}

// end search
// start advantages
.advantages {
    background-color: #fefefe;
}

.advantages__inner {
    margin-top: 185px;
    padding-bottom: 120px;
    display: flex;
    justify-content: space-between;

}

.advantages__item {
    max-width: 360px;
    width: 100%;
    height: 400px;
    line-height: 30px;
    text-align: center;

    &-img {
        height: 110px;
        width: 110px;
        margin: 0 auto;
        margin-top: 40px;
        display: block;
        @include background;
    }

    &-title {
        font-size: 24px;
        padding: 20px 0;
    }

    &-text {
        color: $text;
        padding: 0 30px 40px;
    }
}

.advantages__item:hover {
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.08);
}

// end advantages

//  start feature-products

.feature-products {
    padding: 120px 0;
    background-color: #eff1f5;
}

.feature-products__inner {
    .product__item {
        width: 100%;
    }

    .product__item-img {
        max-height: 450px;
    }


}


// end feature-products

// start products
.products {
    background-color: #f6f7fb;
    padding: 120px 0;
}

.title {
    min-height: 110px;
    width: 100%;
    background-color: #fff;
    padding: 35px 35px;
    font-size: 30px;
    color: #000000;
    margin-bottom: 30px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-size: 16px;
        color: #747b86;
    }
}

.products__inner-btn {
    min-height: 90px;
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-bottom: 50px;
    padding: 30px;

    button[type="button"] {
        padding: 10px 20px;
        border-radius: 25px;
        border: none;
        background-color: #f1f3f6;
        color: #747b86;
        outline: none;
        cursor: pointer;
        font-size: 15px;

        &+button[type="button"] {
            margin-left: 6px;
        }



        &.mixitup-control-active {
            background-color: $blue;
            color: #fff;
        }
    }
}

.products__inner-holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product__item-content {
    padding: 25px 30px;
    min-height: 235px;
    border-bottom: 1px solid #ececee;
}

.product__item {
    background-color: #fff;
    border-radius: 6px;
    max-width: 360px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 105, 0.1);
    margin-bottom: 30px;

    &-title {
        font-size: 20px;
        color: #000000;
        @include f600;
    }

    &-author {
        display: inline-block;
        margin-right: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .avatar {
            height: 30px;
            width: 30px;
            @include background;
            margin-right: 5px;
            border-radius: 10px;
        }
    }

    span {
        font-size: 15px;
        color: #000000;
    }

    &-category {
        display: inline-block;
        display: flex;
        align-items: center;
        cursor: pointer;

        .content-logo {
            height: 16px;
            width: 16px;
            @include background;
            margin-right: 5px;
        }

        span {
            color: #9574d0;
        }
    }
}

.product__box {
    padding: 30px 25px 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 3;

    &-price {
        padding: 5px 15px;
        border: none;
        border-radius: 25px;
        background-color: #e6f1fd;
        cursor: pointer;

        span {
            color: $blue;
            @include f600;
        }
    }

    &-like {
        cursor: pointer;

        span {
            color: #6f7d8d;
        }

        svg {
            width: 15px;
            height: 15px;
            fill: #bba1de;
        }
    }

    &-cart {
        span {
            color: $blue;
        }

        svg {
            width: 16px;
            height: 16px;
            fill: $blue;
            margin-bottom: -2px;
        }
    }

    &-star {
        margin-right: 50px;

    }
}

.product__item-img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    min-height: 230px;
    display: block;
    @include background;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background: linear-gradient(180deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%) !important;

        .product__item-btn {
            color: #fff;
            padding: 10px 30px;
            border: 1px solid #fff;
            border-radius: 25px;
            @include f500;
            font-size: 15px;
            line-height: 25px;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            margin-right: 5px;
        }

        .product__item-btn:hover {
            color: $blue;
            background-color: #fff;
        }

    }
}

.product__item-name {
    padding-top: 20px;
    padding-bottom: 25px;
    display: flex;
    align-items: center;
}

.product__item-info {
    line-height: 30px;
}

.btn {
    background-color: $blue;
    color: #fff;
    min-width: 190px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    line-height: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
}

.products__bottom-btn {
    text-align: center;
    margin-top: 50px;
}

.btn.mixitup-control-active {
    background-color: #f1f3f6;
    color: #747b86;
}




// end products
// start product-slider
.product__slider {
    padding: 120px 0;
    background-color: #eef1f5;

}

.slick-arrow {
    position: absolute;
    width: 55px;
    height: 45px;
    border: none;
    background-color: $blue;
    outline: none;
    margin: 0 30px;

    img {
        width: 20px;
        height: 20px;
    }
}

.slick-prev {
    top: -105px;
    right: 50px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;

}

.slick-next {
    top: -105px;
    right: 0;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

// end products-slider
// start info
.info {
    padding: 95px 0px 85px;
    background-color: #212225;
}

.info__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info__item {
    min-width: 130px;
    min-height: 170px;
    text-align: center;

    &-title {
        padding-top: 50px;
        font-size: 36px;
        padding-bottom: 10px;
        color: #feb71d;
        position: relative;

        &::before {
            content: '\f0b1';
            font-family: 'icomoon';
            color: #feb71d;
            font-size: 48px;
            position: absolute;
            top: 0;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    }

    &-text {
        font-size: 18px;
        color: #fff;
    }
}

.info__item-title.download {
    color: #58c9e9;

    &::before {
        content: '\f0ed';
        font-family: 'icomoon';
        color: #58c9e9;
    }
}

.info__item-title.smile {
    color: #77de51;

    &::before {
        content: '\f118';
        font-family: 'icomoon';
        color: #77de51;
    }
}

.info__item-title.group {
    color: #ff6a6d;

    &::before {
        content: '\f118';
        content: '\f0c0';
        font-family: 'icomoon';
        color: #ff6a6d;
    }
}

// end info



// start preferences

.preferences {
    padding: 100px 0;
}

.caption {
    text-align: center;
    font-size: 36px;
    color: #000000;
    padding-bottom: 20px;

    span {
        color: #0674ec;
    }
}

.description {
    max-width: 690px;
    font-size: 16px;
    line-height: 30px;
    color: $text;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
}

.preferences__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.preferences__item {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    min-height: 370px;
    width: 340px;
    padding: 20px;
    margin: 15px;


    &-number {
        font-size: 48px;
        color: rgba(92, 135, 248, .2);
        font-weight: 300;
    }

    &-title {
        font-size: 24px;
        color: #000000;
        position: relative;
        text-align: center;
        padding-top: 100px;

        &::before {
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '\f2c3';
            font-family: 'icomoon';
            font-size: 60px;
            color: #0674ec;
        }

    }

    &-text {
        padding-top: 30px;
        text-align: center;
        line-height: 30px;
        padding-bottom: 40px;
    }
}

.preferences__item-title.magic {
    &::before {
        top: -10px;
        transform: rotateY(180deg);
        content: '\f0d0';
        color: #7f4ec2;
    }
}

.preferences__item-title.lock {
    &::before {
        content: '\f023';
        color: #77de51;
    }
}

.preferences__item-title.bar-chart {
    &::before {
        content: '\f080';
        color: #feb71d;
    }
}

.preferences__item-title.leaf {
    &::before {
        content: '\f06c';
        color: #58c9e9;
    }
}

.preferences__item-title.phone-square {
    &::before {
        content: '\f098';
        color: #ff6a6d;
    }
}

// end preferences
// start options
.option__inner {
    display: flex;
}

.option__item {
    padding: 100px 0;
    width: 50%;
    min-height: 560px;
    background-image: url(../images/content/option1.jpg);
    @include background;
    text-align: center;
    color: #ffffff;

    &-title {
        font-size: 36px;
        padding: 50px 0 25px;
    }

    &-text {
        font-size: 16px;
        line-height: 30px;
        padding: 0px 30px 50px;
    }

    &-link {
        font-size: 16px;
        color: #0674ec;
        text-align: center;
        border-radius: 25px;
        min-width: 190px;
        padding: 13px 20px;
        background: #ffffff;
        cursor: pointer;
        transition: all .5s;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
        transition: all .5s;

        &:hover {
            background-color: #0030DE;
            color: #ffffff;
        }
    }

    &-img {
        svg {
            fill: #ffffff;
        }
    }

}

.option__item.option2 {
    background-image: url(../images/content/option2.jpg);

    .option__item-link {
        color: #7347c1;

        &:hover {
            background-color: #3D177D;
            color: #ffffff;
        }
    }

}

//  end options
// start feedback

.feedback {
    padding: 115px 0;
}

.feedback__inner {
    display: flex;
    justify-content: space-between;
    align-self: center;

}

.feedback__item {
    max-width: 550px;
    min-height: 315px;
    padding: 45px 35px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border-left: 2px solid #0674ec;


    .feedback__item-comment {
        padding-top: 25px;
        line-height: 30px;
    }

    .feedback__account {
        display: inline-block;
        display: flex;
        font-size: 20px;
        color: #000000;
        position: relative;


        &::before {
            position: absolute;
            top: 25px;
            left: 80%;
            transform: translate(50%, -50%);
            content: '\f0e5';
            font-family: 'icomoon';
            font-size: 60px;
            color: #e8e8e8;
        }

        &-avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: inline-block;
            @include background;
            margin-right: 20px;
        }

        &-position {
            padding-top: 10px;
            font-size: 16px;
            color: $text;
            display: block;
        }
    }
}

.feedback__btn {
    text-align: center;
    margin-top: 60px;

    .btn:hover {
        background-color: #f1f3f6;
        color: #747b86;
    }
}

// end feedback
// start news

.news {
    background-color: #eef1f5;
    padding: 120px 0;
}

.news__inner {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.news__item {
    max-width: 360px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);

    &-img {
        min-height: 230px;
        display: block;
        @include background;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }

    &-title {
        font-size: 22px;
        color: #000000;
        @include f500;
        padding-bottom: 27px;
        min-height: 60px;

    }
}

.news__item-content {
    padding: 25px;
    border-bottom: 1px solid #ececee;
}

.news__box {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
        font-size: 15px;
        color: #999999;
        padding-left: 13px;
    }

    &-date {
        position: relative;

        &::before {
            position: absolute;
            top: 11px;
            transform: translate(-50%, -50%);
            content: '\f017';
            font-family: 'icomoon';
            color: #0674ec;
            font-size: 15px;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -9px;
            width: 1px;
            height: 40px;
            background-color: #ececec;
        }

    }

    &-comment {
        position: relative;

        &::before {
            position: absolute;
            top: 11px;
            transform: translate(-50%, -50%);
            content: '\f0e5';
            font-family: 'icomoon';
            color: #7e7e7e;
            font-size: 15px;
        }

    }

    &-view {
        position: relative;

        &::before {
            position: absolute;
            top: 11px;
            transform: translate(-50%, -50%);
            content: '\f06e';
            font-family: 'icomoon';
            color: #7e7e7e;
            font-size: 15px;
        }
    }
}

.news__box-comment {
    margin-left: 40px;
}

// enad news     
//start support 
.support {
    padding: 65px 0;
}

.support__inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.support__item {
    max-width: 360px;

    &-img {
        width: 150px;
        min-height: 120px;
        @include background;
        margin: 0 auto;

    }

    &-text {
        padding-top: 30px;
        font-size: 24px;
        color: #000000;
    }

    &-link {
        color: $blue;
    }
}

.support__item-link.link2 {
    color: #7347c1;
}

//end support 
// start join

.join {
    padding: 100px 0;
    height: 400px;
    background-image: url(../images/content/bgc.jpg);
    @include background;
}

.join__item {
    text-align: center;

    &-title {
        font-size: 36px;
        color: #ffffff;
    }

    &-text {
        padding: 20px 0 50px;
        font-size: 18px;
        color: #e7e7e7;
    }

    &-btn {
        border-radius: 25px;
        padding: 15px 40px;
        background: #ffffff;
        color: $blue;
        cursor: pointer;
        font-size: 16px;
        transition: all .5s;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    }

}

// end join
// start footer 

.footer {
    background-color: #262b30;

    &__inner {
        display: flex;
        justify-content: space-between;
        padding: 110px 0px 120px;
    }
}

.footer__col {
    max-width: 240px;
     width: 100%;

    &-logo {
        margin-bottom: 25px;
    }

    &-menu {
        max-width: 160px;
    }
    &-news{
         max-width: 360px;
    }
    &-title {
        color: #ffffff;
        margin-bottom: 35px;
        font-size: 18px;
    }
    &-text {
        margin-bottom: 20px;
        font-size: 15px;
        color: #ababab;
        line-height: 24px;
    }

}

.footer__info {
    margin-top: 14px;
    color: #ababab;
    @include f500;
    padding-left: 30px;
    position: relative;
    font-size: 15px;

    &::before {
        content: '\f041';
        font-family: 'icomoon';
        color: #ababab;
        font-size: 16px;
        position: absolute;
        left: 0;
    }
}

.footer__info-phone {
    &::before {
        content: '\f095';
    }
}

.footer__info-mail {
    &::before {
        content: '\f003';
    }
}

.footer__col-list {
    a {
        margin-bottom: 15px;
        color: #ababab;
        cursor: pointer;
    }
}



.footer__form {
    width: 350px;
    position: relative;

    input {
        display: block;
        width: 100%;
        border: none;
        border-radius: 25px;
        height: 44px;
        padding-left: 20px;
        padding-right: 105px;
        background-color: #fff;
        outline: none;

        &::placeholder {
            color: #90a4ae;
            font-size: 15px;
        }
    }

    button[type="submit"] {
        position: absolute;
        width: 100px;
        font-size: 15px;

        border: none;
        color: #fff;

        cursor: pointer;
    }
}

.footer__social {
    margin-top: 33px;
    display: flex;
    align-items: center;

    &-item {
        margin-right: 10px;
    }

    &-link {

        width: 42px;
        height: 42px;
        border-radius: 21px;
        background-color: #395799;
        position: relative;

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            content: '\f09a';
            font-family: 'icomoon';
            color: #ffffff;

        }

    }

}

.footer__social-link.twitter {
    background-color: #19b2f5;

    &::before {
        content: '\f099';
        font-family: 'icomoon';
    }
}

.footer__social-link.google {
    background-color: #f05b44;

    &::before {
        content: '\f1a0';
        font-family: 'icomoon';
    }
}

.footer__social-link.pinterest {
    background-color: #9c0c1c;

    &::before {
        content: '\f0d2';
        font-family: 'icomoon';
    }
}

.footer__social-link.linkedn {
    background-color: #0da6be;

    &::before {
        content: '\f0e1';
        font-family: 'icomoon';
    }
}

.footer__social-link.dribbble {
    background-color: #ea4c89;

    &::before {
        content: '\f17d';
        font-family: 'icomoon';
    }
}



.footer__copy {
    background-color: #192027;
}

.footer__copy-text {
    text-align: center;
    font-size: 15px;
    color: #919699;
    padding: 25px 0;

    span {
        color: #fff;
    }

}




//  end footer  